// Variables
$primary: #901C1C;
$secondary: #D3573C;
$grey: #525252;
$lightgrey: #FAFAFA;


body{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
}

a{
    text-decoration: none;
}

p, h1, h2, h3{
    margin: 0;
}

video{
    max-height: 80vh;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

// *:focus{
//     border: 3px solid rgba(47, 0, 255, 0.836);
// }

// A afficher si navigation clavier (tab), voir https://webaim.org/techniques/skipnav/#maincontent 
.skipContent{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: transparent;
    background-color: transparent;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 500;
    padding: 5px 10px;
}

.skipContent:focus{
    color: white;
    background-color: $secondary;
}

.tag{
    display: inline-block;
    color: $primary;
    border: 1px solid #c4c4c4;
    border-radius: 20px;
    padding: 3px 7px;
    font-size: 0.8em;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    margin-right: 5px;
}

.tag:hover{
    background-color: $secondary;
    color: white;
}

.activeTag{
    background-color: $primary;
    color: white;
}

.tag::before{
    content: '#';
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px;
    img{
        width: 180px;
    }
    h1{
        color: $primary;
        font-size: 2.2em;
        font-weight: 400;
    }
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .photographer{
        padding: 40px 20px;
        text-align: center;
        &__image{
            margin: 10%;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            margin: auto;
            overflow: hidden;
            box-shadow: lightgray 5px 5px 7px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        &__name{
            color: $secondary;
            font-size: 2.5em;
            font-weight: 400;
            margin-bottom: 10px;
            margin-top: 25px;
        }
        p{
            margin-bottom: 5px;
        }
        &__location{
            color: $primary;
        }
        &__description{
            font-size: 0.8em;
        }
        &__price{
            color: $grey;
            font-size: 0.8em;
        }
        &__tags{
            margin-top: 10px;
            justify-content: center;
        }
    }
}

main.photographer_page{
    position: relative;
    display: block;
    margin: 10px 100px;
    .photographer_info{
        background-color: $lightgrey;
        justify-content: space-between;
        display: flex;
        padding: 40px 50px;
        font-size: 1.1em;
        &__bloc, &__contactBloc{
            width: 33%;
        }
        .photographer__name{
            margin-top: 10px;
        }
        .photographer__image{
           margin: 0;
        }
        .photographer__tags{
            display: flex;
            justify-content: flex-start;
        }
        p{
            margin-bottom: 15px;
        }
        button{
            padding: 15px 8px;
            color: white;
            background-color: $primary;
            border: none;
            border-radius: 5px;
            margin-top: 30px;
            cursor: pointer;
            font-size: 0.85em;
        }
    }
    .photoSection{
        .la-heart{
            cursor: pointer;
        }
        &__filter{
            margin-top: 20px;
            select{
                color: white;
                background-color: $primary;
                border: none;
                border-radius: 5px;
                padding: 12px 8px;
                option{
                    border: none;
                }
            }
        }
        &__list{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;
            margin-top: 30px;
            &__photoBloc{
                figure{
                    margin: 0;
                    figcaption{
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;
                        margin-top: 10px;
                        h3{
                            color: $primary;
                            font-weight: 400;
                        }
                        i{
                            font-size: 1.2em;
                            color: $primary;
                        }
                    }
                }
                &__photo{
                    border-radius: 7px;
                    position: relative;
                    width:100%;
                    aspect-ratio: 1 / 1;
                    overflow: hidden;
                    background-color: rgb(240, 240, 240);
                    img, video{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        object-position: top;
                    }
                }
            }
        }
    }
}

#price_and_likes{
    z-index: 300;
    position: fixed;
    bottom: 0;
    right: 50px;
    background-color: #db8876;
    padding: 15px 35px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.2em;
    span:first-of-type{
        margin-right: 60px;
    }
}

#contact_modal{
    z-index: 3000;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 500px;
    padding: 20px 30px;
    background-color: #db8876;
    border-radius: 3px;
    box-shadow: 0 0 10px darkgrey;
    h1{
        font-weight: 400;
        position: relative;
        #close_contact{
            position: absolute;
            top: 0;
            right: 0;
            color: white;
            font-size: 1.5em;
            cursor: pointer;
        }
    }
    label, input,
    textarea{
        display: block;
        width: 100%;
    }
    label{
        margin-top: 15px;
        font-size: 1.2em;
    }
    button{
        color: #fff;
        background-color: $primary;
        border: none;
        border-radius: 5px;
        padding: 15px 25px;
        margin-top: 15px;
        font-size: 0.8em;
        cursor: pointer;
    }
    input{
        height: 2.2em;
    }
    textarea {
        resize: none;
    }
    input:focus, textarea:focus, button:focus{
        outline: none;
        border: 2px solid $primary
    }
}

#form_error{
    background-color: red;
    margin-top: 10px;
    color: white;
    font-weight: bold;
}

#media_modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5000;
    background-color: rgba(255, 255, 255, 0.9);    
    display: none;
    justify-content: center;
    align-items: center;
    video, figcaption{
        display: block;
        margin: auto;
        text-align: center;
    }
    i{
        cursor: pointer;
    }
    a{
        position: absolute;
        color: $primary;
        font-size: 4em;
    }
    #closeMediaModal{
        top: 30px;
        right: 10px;
    }
    #la-angle-left{
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }
    #la-angle-right{
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }
    section{
        position: relative;
        padding: 50px; 
        max-height: 100vh;
        img{
            max-width: 80vw;
            height: 80vh;
            object-fit: cover;
        }
        figcaption{
            color: $primary;
            font-size: 1.3em;
            padding: 10px 0;
        }
    }
}


@media screen and (max-width: 1055px) {
    header{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 35px 0 0 40px;
        h1{
            font-size: 1.7em;
        }
    }
}

@media screen and (max-width: 865px) {
    header{
        nav{
            grid-row: 2/3;
            grid-column: 1/3;
        }
        h1{
            font-size: 1.7em;
            text-align: end;
            padding-right: 35px;
        }
    }
    #homepageMain{
        display: flex;
        flex-direction: column;
    }

    main.photographer_page{
        margin: 10px 35px;
    }

    #photoContent, .photographer_info{
        display: flex;
        flex-direction: column;
    }

    #price_and_likes{
        display: none;
    }

    #contact{
        z-index: 100;
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 20px;
    }

    main.photographer_page{
        .photographer_info{
            flex-direction: initial;
            padding: 0;
            background-color: transparent;
            .photographer__name{
                margin-top: 10px;
            }
            p{
                margin-bottom: 5px;
            }
        }
        .photoSection__list__photoBloc__photo{
            height: 220px;
        }
    }
}

@media screen and (max-width: 615px) {
    header{
        padding: 15px 0 0 20px;
        h1{
            font-size: 1em;
            padding-right: 15px;
        }
        img{
            width: 120px;
        }
        nav{
            margin-top: 10px;
            text-align: center;
            .tag{
                margin-top: 5px;
            }
        }
    }

    h2.photographer__name{
        font-size: 2em;
    }
      
    main.photographer_page{
        margin: 10px 20px;
        .photoSection__filter{
            display: none;
        }
        .photographer_info{
            .photographer__image{
                width: 33%;
                img{
                    aspect-ratio: 1 / 1;
                }
            }
            &__contactBloc{
                width: 0%;
            }
            &__bloc{
                width: 70%;
            }
            .photographer__image{
                position: absolute;
                width: 30%;
                height: auto;
                aspect-ratio: 1/1;
                right: 0;
            }
        }
    }
    #contact_modal{
        top: 0;
        height: 100vh;
        overflow: scroll;
    }
    #media_modal section{
        width: calc(100% - 100px);
        display: flex;
        justify-content: center;
    }
}