// Variables
$primary: #901C1C;
$secondary: #D3573C;
$grey: #525252;
$lightgrey: #FAFAFA;


body{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
}

p, h1, h2, h3{
    margin: 0;
}

ul{
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin: 0;
    li{
        margin-right: 7px;
    }
}

// TODO : A afficher si navigation clavier (tab), voir https://webaim.org/techniques/skipnav/#maincontent 
.skipContent{
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    background-color: $secondary;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 500;
    padding: 5px 10px;
}

.tag{
    color: $primary;
    border: 1px solid #c4c4c4;
    border-radius: 20px;
    padding: 3px 7px;
    font-size: 0.8em;
    font-weight: 500;
    text-transform: capitalize;
}

.navTag{
    cursor: pointer;
}

.navTag:hover{
    background-color: $secondary;
    color: white;
}

.activeTag{
    background-color: $primary;
    color: white;
}

.tag::before{
    content: '#'
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px;
    img{
        width: 180px;
    }
    nav{
        li{
            margin: 0 5px;
        }
    }
    h1{
        color: $primary;
        font-size: 2.2em;
        font-weight: 400;
    }
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .photographer{
        padding: 40px 20px;
        text-align: center;
        &__image{
            margin: 10%;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            margin: auto;
            overflow: hidden;
            box-shadow: lightgray 5px 5px 7px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        &__name{
            color: $secondary;
            font-size: 2.5em;
            font-weight: 400;
            margin-bottom: 10px;
            margin-top: 25px;
        }
        p{
            margin-bottom: 5px;
        }
        &__location{
            color: $primary;
        }
        &__description{
            font-size: 0.8em;
        }
        &__price{
            color: $grey;
            font-size: 0.8em;
        }
        &__tags{
            margin-top: 10px;
            justify-content: center;
        }
    }
}

main.photographer_page{
    display: block;
    margin: 10px 100px;
    .photographer_info{
        background-color: $lightgrey;
        justify-content: space-between;
        display: flex;
        padding: 40px 50px;
        &__bloc{
            width: 33%;
        }
        .photographer__name{
            margin-top: 10px;
        }
        .photographer__image{
           margin: 0;
        }
        .photographer__tags{
            justify-content: flex-start;
        }
        p{
            margin-bottom: 15px;
        }
        button{
            padding: 15px 8px;
            color: white;
            background-color: $primary;
            border: none;
            border-radius: 5px;
            margin-top: 30px;
        }
    }
    .photoSection{
        &__filter{
            margin-top: 20px;
            select{
                color: white;
                background-color: $primary;
                border: none;
                border-radius: 5px;
                padding: 12px 8px;
                option{
                    border: none;
                }
            }
        }
        &__list{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;
            margin-top: 30px;
            &__photoBloc{
                figure{
                    margin: 0;
                    figcaption{
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;
                        margin-top: 10px;
                        h3{
                            color: $primary;
                            font-weight: 400;
                        }
                        i{
                            font-size: 1.2em;
                            color: $primary;
                        }
                    }
                }
                &__photo{
                    position: relative;
                    width:100%;
                    aspect-ratio: 1 / 1;
                    overflow: hidden;
                    img{
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }
}

