body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

p, h1, h2, h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin: 0;
}

ul li {
  margin-right: 7px;
}

.skipContent {
  display: none;
  position: fixed;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: black;
  background-color: #D3573C;
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: 500;
  padding: 5px 10px;
}

.tag {
  color: #901C1C;
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  padding: 3px 7px;
  font-size: 0.8em;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
}

.tag:hover {
  background-color: #D3573C;
  color: white;
}

.activeTag {
  background-color: #901C1C;
  color: white;
}

.tag::before {
  content: '#';
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 100px;
}

header img {
  width: 180px;
}

header nav li {
  margin: 0 5px;
}

header h1 {
  color: #901C1C;
  font-size: 2.2em;
  font-weight: 400;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

main .photographer {
  padding: 40px 20px;
  text-align: center;
}

main .photographer__image {
  margin: 10%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;
  overflow: hidden;
  -webkit-box-shadow: lightgray 5px 5px 7px;
          box-shadow: lightgray 5px 5px 7px;
}

main .photographer__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main .photographer__name {
  color: #D3573C;
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 25px;
}

main .photographer p {
  margin-bottom: 5px;
}

main .photographer__location {
  color: #901C1C;
}

main .photographer__description {
  font-size: 0.8em;
}

main .photographer__price {
  color: #525252;
  font-size: 0.8em;
}

main .photographer__tags {
  margin-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.photographer_page {
  position: relative;
  display: block;
  margin: 10px 100px;
}

main.photographer_page .photographer_info {
  background-color: #FAFAFA;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 50px;
}

main.photographer_page .photographer_info__bloc {
  width: 33%;
}

main.photographer_page .photographer_info .photographer__name {
  margin-top: 10px;
}

main.photographer_page .photographer_info .photographer__image {
  margin: 0;
}

main.photographer_page .photographer_info .photographer__tags {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main.photographer_page .photographer_info p {
  margin-bottom: 15px;
}

main.photographer_page .photographer_info button {
  padding: 15px 8px;
  color: white;
  background-color: #901C1C;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
}

main.photographer_page .photoSection .la-heart {
  cursor: pointer;
}

main.photographer_page .photoSection__filter {
  margin-top: 20px;
}

main.photographer_page .photoSection__filter select {
  color: white;
  background-color: #901C1C;
  border: none;
  border-radius: 5px;
  padding: 12px 8px;
}

main.photographer_page .photoSection__filter select option {
  border: none;
}

main.photographer_page .photoSection__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-top: 30px;
}

main.photographer_page .photoSection__list__photoBloc figure {
  margin: 0;
}

main.photographer_page .photoSection__list__photoBloc figure figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 10px;
}

main.photographer_page .photoSection__list__photoBloc figure figcaption h3 {
  color: #901C1C;
  font-weight: 400;
}

main.photographer_page .photoSection__list__photoBloc figure figcaption i {
  font-size: 1.2em;
  color: #901C1C;
}

main.photographer_page .photoSection__list__photoBloc__photo {
  border-radius: 7px;
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  background-color: #f0f0f0;
}

main.photographer_page .photoSection__list__photoBloc__photo img, main.photographer_page .photoSection__list__photoBloc__photo video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

#contact_modal {
  z-index: 3000;
  position: fixed;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  max-width: 500px;
  padding: 20px 30px;
  background-color: #db8876;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px darkgrey;
          box-shadow: 0 0 10px darkgrey;
}

#contact_modal h1 {
  font-weight: 400;
  position: relative;
}

#contact_modal h1 .la-times {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}

#contact_modal label, #contact_modal input,
#contact_modal textarea {
  display: block;
  width: 100%;
}

#contact_modal label {
  margin-top: 15px;
  font-size: 1.2em;
}

#contact_modal button {
  color: #fff;
  background-color: #901C1C;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  margin-top: 15px;
  font-size: 0.8em;
  cursor: pointer;
}

#contact_modal input {
  height: 2.2em;
}

#contact_modal textarea {
  resize: none;
}

#contact_modal input:focus, #contact_modal textarea:focus, #contact_modal button:focus {
  outline: none;
  border: 2px solid #901C1C;
}
/*# sourceMappingURL=style.css.map */